.groupchat {
  width: 100%;
  display: flex;
}
.groupchat_list {
  width: 30%;
  height: 100%;
  border-right: 3px solid;
  padding-right: 0.5em;
}
.groupchat_content {
    position: relative;
  width: 70%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
.groupchat_message {
  height: 70vh;
  padding-left: 2rem;
  padding-right: 1.25rem;
  overflow: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.groupchat_header {
  margin-left: 3rem;
}
.groupchat_message::-webkit-scrollbar {
  width: 0.5rem;
}
.groupchat_message::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.groupchat_message::-webkit-scrollbar-thumb {
  background: rgba(35, 194, 119, 0.577);
}
.groupchat_message::-webkit-scrollbar-thumb:hover {
  background: rgb(16, 160, 179);
}
.groupchat_content_header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 3rem;
    background-color: #26c1af;
    display: flex;
}
.groupchat_content_header .info {
    position: absolute;
    right: 2%;
    top: 30%;
}
.groupchat_content_header span {
    position: absolute;
    left: 2%;
    top: 20%;
    font-weight: bold;
    font-size: 1.5rem;
}
.groupchat-content__message {
    top: 3rem;
    width: 100%;
    height: 75vh;
    align-items: center;
    overflow-x: hidden;
    overflow-y: none;
     word-wrap: break-word;
     background-color: aqua;
}